*{
background-color: burlywood;
}h1{
    color:maroon;
}
.post{
    background-color: blanchedalmond;
}
.user{
    font-style: italic;
}
a{
    border:2px solid black;
    color: blue;
    background-color: rosybrown;
    text-decoration: none;
    margin-bottom: 20rem;
}